.asset-details-page-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 16px;

  &__voucher {
    padding: 16px 0;
  }

  &__documents {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}