:export {
  vulcan: var(--vulcan);
  white: var(--white);
  regent-gray: var(--regent-gray);
  oxford-blue: var(--oxford-blue);
  shamrock: var(--shamrock);
  raven: var(--raven);
  mirage: var(--mirage);
  mirage-secondary: var(--mirage-secondary);
  fiord: var(--fiord);
  azure-radiance: var(--azure-radiance);
  picton-blue: var(--picton-blue);
  shuttle-gray: var(--shuttle-gray);
  error-red: var(--error-red);
}