:root {
  --light-grey: #8B8B99;
  --bluish-gray: #D6E2EA;
  --light-blue: #CFDAE1;
  --pastel-blue: #B0BECF;
  --black: #000000;
  --cloud-blue: #F8F9FC;
  --soft-sky-blue: #EAEFF0;
  --light-sky-blue: #D2DAE6;
  --deep-night-blue: #181833;
  --vulcan: #10161F;
  --white: #FFFFFF;
  --regent-gray: #8994A3;
  --oxford-blue: #2E3847;
  --shamrock: #2ACE61;
  --raven: #707A88;
  --mirage: #1D2633;
  --mirage-secondary: #1D2733;
  --fiord: #3B4B62;
  --azure-radiance: #0593FF;
  --picton-blue: #45AEF5;
  --shuttle-gray: #556170;
  --error-red: #DC5252
}

